$colorbg-dark: #0c1947;
$colortxt: #329aef;
$color-border: #287fc7;
$colortext-dark: #fff;

$colorbg-light: #fff;
$colortext-light: #000;
$bgsection: #081929;



header{
    justify-content: space-around;
    div{
        h2{
            font-size: 1.875rem;
            line-height: 2.25rem; 
        }
    }
    .abrir-menu{
        display: none;
    }
    .nav{
        
        .cerrar-menu{
            display: none;
        }
        .nav-list{
            font-size: 1.25rem; /* 20px */
            line-height: 1.75rem; /* 28px */ 
            display: flex;
            li{
                margin-left: 0.5rem; /* 8px */
                padding: 0.25rem;
                border-radius: 9999px;
                font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
            }
        }
        
    }


}

#home{
    .home_title{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .home_text{
        width: 40%;
        justify-content: space-evenly;
        h2{
            font-size: 3.75rem/* 60px */;
            line-height: 1;
        }
        h1{
            font-size: 3rem/* 48px */;
            line-height: 1;
        }
        b{
            text-align: center;
            width: 80%;
            font-size: 1.5rem/* 24px */;
            line-height: 2rem/* 32px */;
        }
    }
}

#about{
    .about_container{
        justify-content: space-around;
        .sect-title{
            font-size: 4.5rem/* 72px */;
            line-height: 1;    
        }
        .div_myInfo{
            width: 83.333333%;    
            justify-content: space-around;

            .name_about{
                h2{
                    font-size: 3rem/* 48px */;
                    line-height: 1;    
                }
                span{
                    font-size: 1.875rem/* 30px */;
                    line-height: 2.25rem/* 36px */;    
                }
            }
            .text_about{
                p{
                    font-size: 1.5rem/* 24px */;
                    line-height: 2rem/* 32px */;    
                }
            }

        }
    }
}

#proyects{
    .proyect-block{
        .sect-title{
            h2{
                font-size: 4.5rem/* 72px */;
                line-height: 1;    
            }
        }
        .proyects-container{
            ul{
                flex-direction: row;
                li{
                    height: 100%;
                    width: 25%;
                    .card{
                        .image-proyect{
                            height: 20rem/* 320px */;  
                            a{
                                img{
                                    height: 16rem/* 256px */;
                                }
                            }
                        }
                        .site-date{
                            row-gap: 0.25rem/* 4px */;
                            p{

                            }
                        }
                    }
                }
            }
        }
    }
}

#tech{
    .tech-title{
        margin-left: 1.25rem/* 20px */;
        h2{
            font-size: 4.5rem/* 72px */;
            line-height: 1;
        }
    }
    .tech-container{
        justify-content: space-between;
        .front_cont, .back_cont, .db_cont{
            display: flex;
            flex-direction: column;
            row-gap: 1.25rem;
            .tech-title{
                h2{
                    font-size: 3rem/* 48px */;
                    line-height: 1;
                }
            }
            .techs-div{
                display: flex;
                .each-tech{
                    display: flex;
                    align-items: center;
                    #line{
                        height: 0.125rem/* 2px */;
                        border-width: 2px;
                        width: 6rem/* 96px */;
                    }
                    #circle{
                        border-width: 2px;
                        width: 6rem/* 96px */;
                        border-radius: 9999px;
                        height: 6rem/* 96px */;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    img{
                        height: 4rem/* 64px */;
                    }
                }
            }
            }
        }
    }
}

#certificates{
      display: flex;  
      flex-direction: column;
      justify-content: space-around;
      .sect-title{
        h2{
            font-size: 3.8rem/* 72px */;
            line-height: 1;
        }
      }
      .sect-certificates{
        height: 83.333333%;
        .carousel{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .buttons{
                button{
                    font-size: 3rem/* 72px */;
                    line-height: 1;
                }
            }
            .div_certfs{
                width: 40%;
                a{
                    img{
                        height: 40%;
                    }
                }
              }
        }
        
      }
}


@media screen and (max-width: 550px){
    header {
        justify-content: center;
        padding: 1rem;
        div{
            h2{
                font-size: 2.5rem;
                line-height: 2.25rem; 
            }
        }
        .abrir-menu{
                display: block;
                padding: 4px;
                background-color: rgb(56 189 248);
                color: #fff;
                width: 4.5rem;
                font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
            }
                .nav{
                    opacity: 0;
                    visibility: hidden;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    margin-top: 45rem;
                    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .8);
                    background-color: rgba(0, 0, 0, .8);
                    row-gap: 2rem;

                
                    .cerrar-menu{
                        padding: 1rem;
                        display: flex;
                        color: #d8d8d8;
                        background-color: rgb(2 132 199);
                        font-size: 1.5rem;
                        text-align: start;
                        border-radius: 9999px;
                        font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
                    }
                    .cerrar-menu:active{
                        background-color: rgb(1, 89, 133);
                        color: #fff;
                    }
                    
                    .nav-list{
                        gap: 3rem;
                        flex-direction: column;
                        align-items: center;
                        margin-left: 0rem; /* 8px */
                        margin-right: 1rem; /* 8px */
                        padding: 0rem;
                        
                    }
                }
                .nav.visible{
                    opacity: 1;
                    visibility: visible;
                }
    }
    
    #home{
        .home_title{
            flex-direction: column;
            justify-content: start;
            gap: 3rem;
            .home_text{
                justify-content: end;
                gap: 2.3rem;
                width: 80%;
                h2{
                    font-size: 3rem/* 60px */;
                    line-height: 1;
                }
                h1{
                    font-size: 2rem/* 48px */;
                }
                b{
                    margin: 0;
                    width: 85vw;
                    font-size: 1.4rem/* 24px */;
                }
            }
            .image{
                display: flex;
                justify-content: center;
                margin-bottom: 1rem;
                img{
                    width: 30%;
                }
                
            }
        }
    }

    #about{
        .about_container{
            justify-content: center;
            .sect-title{
                font-size: 3.0rem;
            }
            .div_myInfo{
                width: 100%;  
                justify-content: space-around;

                .name_about{
                    h2{
                        font-size: 2rem;    
                    }
                    span{
                        font-size: 1.5rem;   
                    }
                }
                .text_about{
                p{
                    font-size: 1rem/* 24px */;
                    line-height: 1.7rem/* 32px */; 
                    width: 120%;
                }
            }
            }
        }
    }

    #proyects{
        .proyect-block{
            .sect-title{
                h2{
                    font-size: 3.5rem/* 72px */;
                    line-height: 1;    
                }
            }
            
            .proyects-container{
                ul{
                    flex-direction: column;
                    li{
                        height: 35%;
                        width: 90%;
                        .card{
                            .image-proyect{
                                align-items: center;
                                height: 20rem/* 320px */;  
                                a{
                                    img{
                                        height: 9rem/* 256px */;
                                    }
                                }
                            }
                            .site-date{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    #tech{
        .tech-title{
            margin-left: 0rem/* 20px */;
            h2{
                font-size: 3.6rem/* 72px */;
            }
        }
        .tech-container{
            align-items: center;
            justify-content: space-evenly;
            .front_cont, .back_cont, .db_cont{
                .tech-title{
                    display: none;
                }
                .techs-div{
                    display: grid;
                    grid-template-columns: 75px 75px 75px 75px auto;
                    grid-template-rows: 100px;
                    grid-gap: 5px;
            
                    .each-tech{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        #line{
                            display: none;
                        }
                        #circle{
                            border-width: 2px;
                            width: 4rem/* 96px */;
                            border-radius: 9999px;
                            height: 4rem/* 96px */;
                            img{
                                height: 2.6rem/* 64px */;
                            }
                        }
                    }
                }
                
            }
        }
    }

    #certificates{
        display: flex;  
        flex-direction: column;
        justify-content: space-around;
        .sect-title{
          h2{
              font-size: 3.2rem/* 72px */;
              line-height: 1;
          }
        }
        .sect-certificates{
            width: 100%;
            .carousel{
                flex-direction: column;
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                .buttons{
                    button{
                        font-size: 3rem/* 72px */;
                        line-height: 1;
                    }
                }
                .div_certfs{
                    width: 83%;
                    height: 50%;
                    a{
                        width: 100%;
                        img{
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
            
        }
  }

    #contact{
        display: none;
    }
}